h2.cripto {
    text-align: center;
    color: blue;
}
.fondo {
    background-color: coral;
}

span.paul {
    color: red;
    text-align: center;
}

p.wbd {
    text-align: center;
    background-color: yellow;
}